Django==5.2.17
djangorestframework==3.16.1
psycopg==3.3.6
psycopg-binary==3.3.6
asgiref==3.12.1
sqlparse==0.6.0
typing-extensions==4.16.0
pypdf==6.10.0
reportlab==4.4.9
pillow==12.3.0
charset-normalizer==3.4.4
